[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = git@github.com:sheerun/vim-polyglot.git
[submodule "ohmyzsh/plugins/zsh-syntax-highlighting"]
	path = ohmyzsh/plugins/zsh-syntax-highlighting
	url = git@github.com:zsh-users/zsh-syntax-highlighting.git
