configuration {
	modi: "window,drun,ssh";
	show-icons: true;
	terminal: "urxvt";
	ssh-command: "{terminal} -e sh -c \"{ssh-client} {host} [-p {port}]\"";
	sidebar-mode: true;
	theme: "~/etc/rofi/custom.rasi";
	bw: 0;
}
