alias stopwatch='date1=`date +%s`; while true; do echo -ne "$(date -u --date @$((`date +%s` - $date1)) +%H:%M:%S)\r"; done'
alias texnote='cd $(python3 ~/etc/scripts/texnote.py $(pwd))'
alias airplay='gst-launch-1.0 --gst-plugin-load="$HOME/etc/static/airplay/libgstairplay.so" airplaysrc ! queue ! h264parse ! avdec_h264 max-threads=1 ! autovideosink'
